Install miniconda:
wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
bash Miniconda3-latest-Linux-x86_64.sh
--accept all things, exit terminal to allow for changes
conda config --set auto_activate_base false
--exit terminal to allow for changes
rm Miniconda3-latest-Linux-x86_64.sh
git clone https://github.com/alon-albalak/XOR-COVID.git
cd XOR-COVID

Create and prepare environment:
conda create --name myenv python=3.6
conda activate myenv

PIP:
pip3 install \
    nltk==3.5 \
    attrs==20.3.0 \
    streamlit==0.78.0 \
    st-annotated-text==1.1.0 \
    torch==1.8.1 \
    transformers==4.6.1 \
    datasets==1.5.0 \
    scipy==1.5.2 \
    sentence-transformers==1.1.1


CONDA:
conda install -c pytorch faiss-gpu==1.7.0

NLTK:
python3 -m nltk.downloader "punkt"