.highlight {
  border-radius: 0.3rem;
  color: white;
  padding: 0.4rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: cyan;
  color: black;
}
.red {
  background-color: #ff4c62;
}
.yellow {
  background-color: yellow;
  color: black;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}